.el-menu-item a {
  display: block;
}
.page .el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #dedede !important;
}
.page .el-table--striped .el-table__body tr.el-table__row--striped td {
  background-color: #f5f5f5 !important;
}
.page .el-table td,
.page .el-table th {
  padding: 1px 0 !important;
}
.page .el-table td .cellCanEdit {
  color: #47A7E7;
}
.page .el-table td .font {
  font-weight: bold;
}
.page .el-table__body,
.page .el-table__footer,
.page .el-table__header {
  table-layout: automatic;
}
.page .el-input-number--small {
  width: 100px;
}
.page .el-input-number--mini {
  width: 90px;
}
.page .el-tree > .el-tree-node {
  min-width: 100%;
  display: inline-block !important;
}
